@import "./header.css";

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 14px;
  user-select: none;
}

.container {
  overflow-x: hidden;
}

.gr-col-14 {
  display: grid;
  grid-template-rows: 950px 177px;
  grid-template-columns: 60px 15px 100px 15px 15px 100px 15px 15px 100px 15px 15px 100px 15px 15px 100px 15px 15px 100px 15px 15px 100px 15px 15px 100px 15px 15px 100px 15px 15px 100px 15px 15px 100px 15px 15px 100px 15px 60px;
  /* grid-template-columns: 60px repeat(12, 100px) 60px; */
  /* grid-column-gap: 15px; */
  justify-content: center;
}