@import "./header/header.css";
@import "./pop-up-windows/pop-up-windows.css";

@font-face {
  font-family: 'Appetite New';
  src: url("../fonts/Appetite_New.otf");
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src: url("../fonts/MUSEOSANSCYRL.OTF");
}

@font-face {
  font-family: 'MuseoSansCyrl-0';
  src: url("../fonts/MUSEOSANSCYRL_0.OTF");
}

@font-face {
  font-family: 'MuseoSansCyrl-1';
  src: url("../fonts/MUSEOSANSCYRL_1.OTF");
}

@font-face {
  font-family: 'MuseoSansCyrl-2';
  src: url("../fonts/MUSEOSANSCYRL_2.OTF");
}

@font-face {
  font-family: 'MuseoSansCyrl-3';
  src: url("../fonts/MUSEOSANSCYRL_3.OTF");
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.button {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}

.button-icon,
.button-image {
  position: absolute;
}

.close-button {
  align-self: flex-end;
  display: block;
  width: 16px;
  height: 16px;
  background: transparent;
}

.close-button__line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 16px;
  border-radius: 3px;
  background: #c3c5c7;
  backface-visibility: hidden;
}

.close-button__line:first-of-type {
  transform: translate(-50%, -50%) translateZ(0) rotate(45deg);
}

.close-button__line:last-of-type {
  transform: translate(-50%, -50%) translateZ(0) rotate(-45deg);
}

body {
  font-size: 14px;
  user-select: none;
  color: #1f1d1d;
}

.container {
  overflow: hidden;
}

.gr-col-14 {
  display: grid;
  grid-template-columns: 60px 15px 100px 15px 15px 100px 15px 15px 100px 15px 15px 100px 15px 15px 100px 15px 15px 100px 15px 15px 100px 15px 15px 100px 15px 15px 100px 15px 15px 100px 15px 15px 100px 15px 15px 100px 15px 60px;
  justify-content: center;
}

.gr-row-content {
  grid-template-rows: 950px 177px;
}

.gr-row {
  grid-template-rows: 173px 60px auto 177px;
}