.header__information {
  grid-area: 3/4/4/22;
  margin-top: 105px;
}
.header__information-content_title {
  font-family: 'MuseoSansCyrl-0';
  font-size: 48px;
  letter-spacing: .4px;
  line-height: 55px;
}

.header__information-content_title-span {
  font-family: 'MuseoSansCyrl-3';
  letter-spacing: 0;
}

.header__information-services {
  list-style-type: none;
  margin: 43px 0 0 8px;
}

.header__information-services-item {
  position: relative;
  padding-left: 26px;
  font-family: 'MuseoSansCyrl-1';
  font-size: 18px;
  line-height: 36px;
  letter-spacing: .4px;
}

.header__information-services-item:not(:last-of-type) {
  margin: 2px;
}

.header__information-services-item_mark {
  position: absolute;
  top: 33%;
  left: 0;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #f7f7fb;
  box-shadow: 0 0 10px -1px #ef9499;
}

.header__information-services-item_mark-inside {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #ef9499;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.header__information_button {
  margin-top: 52px;
  height: 90px;
  width: 375px;
  border-radius: 40px;
  border-bottom: 5px solid #d7747a;
  box-shadow: inset 0 -5px 0 0 #ef8b92;
  background: #f7abad;
  background-image: linear-gradient(to bottom left, #f8b1b2 0%, #f5a6aa 31%, #f39a9e 51%,#f29a9e 100%);
}

.header__information_button-text {
  margin-left: 20px;
  text-align: center;
  width: 230px;
  color: #ffffff;
  font-family: 'MuseoSansCyrl-3';
  font-size: 14px;
  letter-spacing: 1.8px;
}

.header__information_button-image {
  left: 232px;
  bottom: 9px;
  border-radius: 3%;
  z-index: 2;
}

.header__information_button-image-sh {
  left: 232px;
  bottom: 5px;
  z-index: 1;
}